In [110]:
# General Imports
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from scipy import stats
from sklearn.preprocessing import MinMaxScaler, StandardScaler
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_squared_error

from sklearn.tree import DecisionTreeRegressor
from sklearn.ensemble import RandomForestClassifier
from sklearn.ensemble import AdaBoostClassifier
from sklearn.ensemble import GradientBoostingClassifier

In [111]:
# Load in dataset to pandas DataFrame
dataset = pd.read_csv("https://github.com/SBodapati11/Tree-Classification/blob/main/Bank%20Customer%20Churn%20Prediction.csv?raw=true")

In [112]:
# Check for any missing values
sum(dataset.isna().sum())

0

In [113]:
# Check for any null values
sum(dataset.isnull().sum())

0

In [114]:
# Find the statistics of the dataset
dataset.describe()

,customer_id,credit_score,age,tenure,balance,products_number,credit_card,active_member,estimated_salary,churn
count,1.000000e+04,10000.000000,10000.000000,10000.000000,10000.000000,10000.000000,10000.00000,10000.000000,10000.000000,10000.000000
mean,1.569094e+07,650.528800,38.921800,5.012800,76485.889288,1.530200,0.70550,0.515100,100090.239881,0.203700
std,7.193619e+04,96.653299,10.487806,2.892174,62397.405202,0.581654,0.45584,0.499797,57510.492818,0.402769
min,1.556570e+07,350.000000,18.000000,0.000000,0.000000,1.000000,0.00000,0.000000,11.580000,0.000000
25%,1.562853e+07,584.000000,32.000000,3.000000,0.000000,1.000000,0.00000,0.000000,51002.110000,0.000000
50%,1.569074e+07,652.000000,37.000000,5.000000,97198.540000,1.000000,1.00000,1.000000,100193.915000,0.000000
75%,1.575323e+07,718.000000,44.000000,7.000000,127644.240000,2.000000,1.00000,1.000000,149388.247500,0.000000
max,1.581569e+07,850.000000,92.000000,10.000000,250898.090000,4.000000,1.00000,1.000000,199992.480000,1.000000

In [115]:
dataset.head()

,customer_id,credit_score,country,gender,age,tenure,balance,products_number,credit_card,active_member,estimated_salary,churn
0,15634602,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,15647311,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,15619304,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,15701354,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,15737888,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0

In [116]:
# Variables and their meaning
# customer_id - an identification number for the customer (not used)
# credit_score - the customer's credit score
# country - the location the customer's account originated from (France, Germany, or Spain)
# gender - the customer's gender (Male or Female)
# age - the customer's age
# tenure - how long the customer's account has been active for
# balance - the current balance of the customer's account
# products_number - number of products the customer has bought from the bank
# credit_card - whether the customer owns a credit card from the bank (1=yes, 0=no)
# active_member - whether the customer is an active member (1=yes, 0=no)
# estimated_salary - the estimated salary of the customer
# churn - whether the customer has left the bank during some period (1=yes, 0=no) (This is what we are trying to predict)

In [117]:
# Get attributes

# NOTE, REMOVE LATER: Took out string attributes for now: country, gender, idk what to do with it
X = dataset[['customer_id', 'credit_score', 'age', 'tenure', 'balance', 'products_number', 'credit_card', 'active_member', 'estimated_salary']]
Y = dataset['churn']

In [118]:
# Standardize the attributes
standard_scaler = StandardScaler()
X = pd.DataFrame(standard_scaler.fit(X).fit_transform(X))
X.describe()

,0,1,2,3,4,5,6,7,8
count,1.000000e+04,1.000000e+04,1.000000e+04,1.000000e+04,1.000000e+04,1.000000e+04,1.000000e+04,1.000000e+04,1.000000e+04
mean,7.583978e-15,-4.824585e-16,2.318146e-16,-1.078249e-16,-6.252776e-17,1.634248e-17,-5.258016e-17,-7.389644e-17,-2.877698e-17
std,1.000050e+00,1.000050e+00,1.000050e+00,1.000050e+00,1.000050e+00,1.000050e+00,1.000050e+00,1.000050e+00,1.000050e+00
min,-1.741069e+00,-3.109504e+00,-1.994969e+00,-1.733315e+00,-1.225848e+00,-9.115835e-01,-1.547768e+00,-1.030670e+00,-1.740268e+00
25%,-8.676501e-01,-6.883586e-01,-6.600185e-01,-6.959818e-01,-1.225848e+00,-9.115835e-01,-1.547768e+00,-1.030670e+00,-8.535935e-01
50%,-2.816100e-03,1.522218e-02,-1.832505e-01,-4.425957e-03,3.319639e-01,-9.115835e-01,6.460917e-01,9.702426e-01,1.802807e-03
75%,8.659939e-01,6.981094e-01,4.842246e-01,6.871299e-01,8.199205e-01,8.077366e-01,6.460917e-01,9.702426e-01,8.572431e-01
max,1.734255e+00,2.063884e+00,5.061197e+00,1.724464e+00,2.795323e+00,4.246377e+00,6.460917e-01,9.702426e-01,1.737200e+00

In [119]:
# Split the X and Y into training and testing sets in a 80%:20% split
X_train, X_test, Y_train, Y_test = train_test_split(X, Y, test_size = 0.2, random_state=5)

print(X_train.shape)
print(X_test.shape)
print(Y_train.shape)
print(Y_test.shape)

(8000, 9)
(2000, 9)
(8000,)
(2000,)

In [120]:
dtr = DecisionTreeRegressor()

dtr.fit(X_train, Y_train)

print("R^2 value:", dtr.score(X_train, Y_train))

R^2 value: 1.0

In [121]:
ypred = dtr.predict(X_test)

mse = mean_squared_error(Y_test, ypred)
print("MSE: ", mse)

MSE:  0.208

In [122]:
rdf = RandomForestClassifier()

rdf.fit(X_train, Y_train)

print("R^2 value:", rdf.score(X_train, Y_train))

R^2 value: 0.999875

In [123]:
ypred = rdf.predict(X_test)

mse = mean_squared_error(Y_test, ypred)
print("MSE: ", mse)

MSE:  0.1505

In [124]:
adb = AdaBoostClassifier()

adb.fit(X_train, Y_train)

print("R^2 value:", adb.score(X_train, Y_train))

R^2 value: 0.852375

In [125]:
ypred = adb.predict(X_test)

mse = mean_squared_error(Y_test, ypred)
print("MSE: ", mse)

MSE:  0.1645

In [126]:
gdb = GradientBoostingClassifier()

gdb.fit(X_train, Y_train)

print("R^2 value:", gdb.score(X_train, Y_train))

R^2 value: 0.868625

In [127]:
ypred = gdb.predict(X_test)

mse = mean_squared_error(Y_test, ypred)
print("MSE: ", mse)

MSE:  0.145